<div class="user box" id="user<%= @user.id.to_s %>">
  <ul>
    <li>Id: <%= @user.id.to_s %></li>
    <li>Name: <%= @user.name %></li>
  </ul>
  <!-- <button>
  <a href="/duser/<%= @user.id.to_s %>/edit/">Make changes to this user</a>
  </button> -->
</div>