<div class="title"><h1>Viewing all ducks</h1></div>
  <button>
  <a href="/ducks/new/">Make a new Duck</a>
  </button>
<div class="box_wrap">
  <% @ducks.each do |duck| %>
    <% @duck = duck %>
    <%= render 'single' %>
  <% end %>
</div>