<div class="title"><h1>Viewing <%= @duck.name %></h1></div>
<div class="box_wrap">
  <div class="box <%= "liked" if @duck.liked_by?(session[:user_id])%>" id="single_duck">
    <%= render 'single' %>
  </div>
</div>
<button>
  <a href="/ducks/">Back to all Ducks</a>
</button>