/*// Place all the styles related to the ducks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body{
  background-image: url("ducks.gif");
  background-size: 190px;
  margin: 15px;
  text-align: center;
}

.top {
  height: 30px;
  width: 100%;
  background: rgb(42, 84, 93);
}

.top p {
  float: left;
  position: absolute;
  margin: 6px;
  font-family: sans-serif;
  color: lightgrey;
}

.top a {
  float: right;
  margin: 6px;
  font-family: sans-serif;
  color: lightgrey;
  text-decoration: none;
}

.top a:hover{
  letter-spacing: 1px;
}

.upwards {
  width: 45px;
  height: 45px;
  background: rgb(42, 84, 93);
  position: fixed;
  bottom: 10px;
  right: 10px;
  line-height: 1.7;
  font-size: 36px;
  font-weight: 900;
  color: white;
}

.title{
  background: white;
  font-family: sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 7px;
  text-align: left;
}

h1 {
  margin: 0;
  padding: 5px;
}

h2 {
  padding: 5px;
  margin: 0;
}

button {
  width: 100%;
  max-width: 500px;
  font-size: 20px;
  background: white;
  border: 0px;
  box-shadow: 3px 3px 0px rgb(56, 113, 123);
}

button a {
  font-weight: bold;
  display: block;
  width: 100%;
  color: black;
  text-decoration: none;
  text-transform: lowercase;
}

.box button a{
  color: rgb(42, 84, 93);
}

button:hover {
  letter-spacing: 1px;
  background: lightgray;
}

input[type="submit"]:hover {
  letter-spacing: 1px;
  background: rgb(83, 158, 179);
}

.box button{
  background: rgb(131, 171, 199);
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.box button:hover {
  letter-spacing: 1px;
  background: rgb(83, 158, 179);
}

.box_wrap {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box {
  text-align: left;
  display: inline-block;
  width: 280px;
  background: rgba(174, 206, 212, 0.85);
  font-family: sans-serif;
  margin: 5px;
  position: relative;
  z-index: 4;
}

.box.liked {
  background: rgba(225, 245, 249, 0.85);
}

a.duck_name {
  font-weight: bold;
  color: rgb(42, 84, 93);
}

.duck.box ul {
  height: 200px;
  padding-bottom: 0px;
}

.box#single_duck ul {
    margin-top: 10px;
    text-align: left;
    padding-right: 40px;
    overflow: hidden;
    padding-bottom: 70px;
}

.hide_me {
  visibility: hidden;
}

.sinker {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 5px;
}

.duck.box {
    height: 250px;
}

label {
  text-align:left;
  font-weight: bold;
  margin-left: 20px;
}

input {
    display: block;
    width: 92%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

textarea#duck_description {
  display: block;
  width: 92%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

input[type="submit"] {
  font-size: 20px;
  font-weight: bold;
  color: rgb(42, 84, 93);
  border: 0px;
  box-shadow: 3px 3px 0px rgb(56, 113, 123);
  background: rgb(131, 171, 199);
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: lowercase;
}

form {
  text-align: left;
  padding: 1px;
}

.error{
  color: white;
  font-weight: 500;
}

.field_with_errors input {
  border: 2px solid darkblue;
}

form.sorter_form {
    text-align: right;
    padding: 7px;
}

.sorter_form input[type="submit"] {
    width: 40px;
    display: inline-block;
    margin-bottom: 7px;
    background: rgb(219, 219, 219);
    color: rgb(16, 17, 47);
    margin-left: 7px;
}

.sorter_form input[type="submit"]:hover {
  background: darkgray;
}

div#sorter {
    background: white;
    margin-top: 5px;
    margin-bottom: 7px;
}

label {
    font-family: sans-serif;
    vertical-align: middle;
}

select#sort {
    width: 150px;
    background: rgb(219, 219, 219);
    box-shadow: 3px 3px rgb(56, 113, 123);
}